# Virtual Environment
.venv/

# Raw datasets
datasets/raw/

# Processed datasets
datasets/processed/

# Generated features
features/

# Outputs
outputs/

# Logs
logs/

# Model checkpoints
models/checkpoints/

# Python cache
__pycache__/
*.pycacoustic_drone_code.zip
